<launch>
    <!-- 启动 offb_2024_2 节点 -->
    <node pkg="ac_control" type="offb_2024_2" name="offb_2024_2_node" output="screen" />

        
    <!-- 启动opencv_node节点 -->
    <!-- <include file="$(find opencv_node)/launch/opencv.launch" /> -->

    <!-- 启动rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ac_control)/rviz_config/rviz_1_2.rviz"/> 
</launch>